<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing Service</title>

    {% include 'html_dependencies.html' %}

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>

            <a class="navbar-brand" href="/" title="Home">Pricing</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li><a href="{{ url_for('stores.index')}}">Stores</a></li>
                <li><a href="{{ url_for('alerts.index')}}">Alerts</a></li>
            </ul>
            {% if session['email'] %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.user_alerts')}}">Your Alerts</a></li>
                    <li><a href="{{ url_for('users.logout_user')}}">Log out</a></li>

                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.register_user')}}">Sign up</a></li>
                    <li><a href="{{ url_for('users.login_user')}}">Log in</a></li>

                </ul>
            {% endif %}

        </div>

    </div>
</nav>

<div class="content container">
    {% block content %}


    {% endblock %}
</div>

</body>
</html>